name: ssh-test

on:  
  push: 
    branches: [ main ]

jobs:
  ssh-test: 
    runs-on: ubuntu-latest

    steps: 
      - name: ssh into ec2 
        uses: 
          appleboy/ssh-action@v1.0.3 

        with: 
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: | 
            cd /var/www/html/demo-
            sudo git pull